body {
	background: url(../images/castle.jpg);
	background-size: cover;
	font-family: 'Arvo', serif;
	font-size: 18px;
	color: #fff;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

#header {
	margin-top: 15px;
}

#game {
	text-align: center;
	background-color: rgba(162,189,206,.7);
	padding: 45px 25px 25px 25px;
	border: #455063 4px solid;
}

.imageFull {
	text-align: center;
	display: block;
}

.imageMobile {
	text-align: center;
	display: none;
}

hr {
	border: #fff 1px solid;
}

@media (max-width: 400px) {
  .imageFull {
	text-align: center;
	display: none;
	}

	.imageMobile {
	text-align: center;
	display: block;
	width: 50vh;
	margin-bottom: 25px;
	}
}
